# DATABASE
DATABASE_URL="postgresql://user:password@localhost:5432/distill?schema=public"

# AUTH
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# AI
ANTHROPIC_API_KEY="sk-ant-..."

# CACHE
REDIS_URL="redis://default:password@your-redis-url.com:6379"

# API KEYS FOR THIRD PARTY
PUBMED_API_KEY=""
